<style>

  h1 {
    /*font-size: 3.125rem;*/
    font-weight: 500;
    line-height: 100%;
    /*letter-spacing: -0.125rem;*/
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-around;
    width: 100%;
  }

.first {
  background: #003cffbf;
}
.second {
  background: #00ffea;
}
.third {
  background: orange;
}
.fourth {
  background: forestgreen;
}
.fifth {
  background: darkred;
}
.six {
  background: dodgerblue;
}
.seven {
  background: #7f19de80;
}
.default {
  background: goldenrod;
}
</style>

<main class="main">
  <div class="content">

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Class description</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="text"
               placeholder="Type class description"
               aria-label="Class description"
               matInput
               [formControl]="classControl"
               [matAutocomplete]="className">

        <mat-autocomplete #className="matAutocomplete"
                          [displayWith]="displayClassFn"
                          (optionSelected)="onClassSelection($event)">
          @for (option of filteredClassOptions | async; track option) {
            <mat-option [value]="option">{{ option.value }} - {{ option.label }}</mat-option>
          }
        </mat-autocomplete>

        @if (classControl.value) {
          <mat-icon matSuffix color="warn"
                    (click)="classControl.setValue('')">close
          </mat-icon>
        }
      </mat-form-field>
    </div>

      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>SubClass description</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input type="text"
                 placeholder="Type sub class description"
                 aria-label="Sub Class description"
                 matInput
                 [formControl]="subClassControl"
                 [matAutocomplete]="subclassName">
          <mat-autocomplete #subclassName="matAutocomplete"
                            [displayWith]="displayClassFn"
                            (optionSelected)="onSubClassSelection($event)">
            @for (option of filteredSubClassOptions | async; track option) {
              <mat-option [value]="option">{{ option.value }} - {{ option.label }}</mat-option>
            }
          </mat-autocomplete>

          @if (subClassControl.value) {
            <mat-icon matSuffix color="warn" (click)="subClassControl.setValue('')">close
            </mat-icon>
          }
        </mat-form-field>

      </div>

      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Account description</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input type="text"
                 placeholder="Type account description"
                 aria-label="Account description"
                 matInput
                 [formControl]="accControl">

          @if (accControl.value) {
            <mat-icon matSuffix color="warn"
                      (click)="accControl.setValue('')">close
            </mat-icon>
          }
        </mat-form-field>
      </div>

  </div>
  <span>Elements found: <strong>{{flattenedTableDataSource.filteredData.length}}</strong></span>
  <div class="table-container">
    <table mat-table [dataSource]="flattenedTableDataSource" class="mat-elevation-z8 mat-responsive-table">

      <!-- Class Number Column -->
      <ng-container matColumnDef="classNumber">
        <th mat-header-cell *matHeaderCellDef> Class Number</th>
        <td mat-cell *matCellDef="let element" [class]="element.classNumber | getClassColor">
          <strong>{{ element.classNumber }}</strong>
        </td>
      </ng-container>

      <!-- Class Description Column -->
      <ng-container matColumnDef="classDescription">
        <th mat-header-cell *matHeaderCellDef> Class Description ({{languageSelected}})</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.classDescription?.[languageSelected] }}
        </td>
      </ng-container>

      <!-- Subclass Number Column -->
      <ng-container matColumnDef="subclassNumber">
        <th mat-header-cell *matHeaderCellDef> Subclass Number</th>
        <td mat-cell *matCellDef="let element">
          {{ element.subclassNumber }}
        </td>
      </ng-container>

      <!-- Subclass Description Column -->
      <ng-container matColumnDef="subclassDescription">
        <th mat-header-cell *matHeaderCellDef> Subclass Description ({{languageSelected}})</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.subclassDescription?.[languageSelected] || 'N/A' }}
        </td>
      </ng-container>

      <!-- Account Number Column -->
      <ng-container matColumnDef="accountNumber">
        <th mat-header-cell *matHeaderCellDef> Account Number</th>
        <td mat-cell *matCellDef="let element">
          {{ element.accountNumber }}
        </td>
      </ng-container>

      <!-- Account Description Column -->
      <ng-container matColumnDef="accountDescription">
        <th mat-header-cell *matHeaderCellDef> Account Description ({{languageSelected}})</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.accountDescription?.[languageSelected] }}
        </td>
      </ng-container>

      <!-- Table Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div class="lang-btns">
      <mat-button-toggle-group hideSingleSelectionIndicator [(ngModel)]="languageSelected" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="en"><span class="fi fi-gb fis"></span></mat-button-toggle>
        <mat-button-toggle value="fr"><span class="fi fi-fr fis"></span></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <button mat-fab
            class="scroll-to-top"
            (click)="scrollToTop()"
            *ngIf="showScrollButton">
      ⬆️
    </button>
  </div>

</main>

<router-outlet/>
